.page {
  padding: 24px;
  max-width: 1250px;
  margin: 0 auto;
}

.categorySelect {
  display: block;
  margin: 12px 0;
  width: auto;
}

.thumbnailRow {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.itemThumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 4px;
  margin-top: 8px;
}
